{% extends 'base.html.twig' %}

{% block title %}FoodTruck by CCI | Connexion{% endblock %}

{% block body %}
    <!-- ======= Contact Section ======= -->
    <section id="contact" class="contact mt-5">
        <div class="container" data-aos="fade-up">
            <div class="section-header">
                <h2>Connexion</h2>
            </div>
            <div class="row justify-content-center">
                <div class="col-lg-6 col-xl-5 col-sm-12">
                    <form method="post" class="php-email-form p-3 p-md-4">
                        <div class="row">
                            <div class="col form-group">
                                <input type="email" value="{{ last_username }}" class="form-control" name="_username" id="username" placeholder="Email" autocomplete="email" required autofocus>
                            </div>
                        </div>
                        <div class="row">
                            <div class="col form-group">
                                <input type="password" class="form-control" name="_password" id="password" placeholder="Mot de passe" autocomplete="current-password" required>
                            </div>
                        </div>
                        <div class="text-center">
                            <button type="submit">Envoyer</button>
                        </div>
                        <input type="hidden" name="_csrf_token" value="{{ csrf_token('authenticate') }}">
                        <div class="text-center mt-3">
                            <p>Pas de compte ? <span><a href="{{path("app_register")}}">Créez-en un !</a></span></p>
                        </div>
                    </form>
                </div>
            </div>
        </div>
    </section><!-- End Contact Section -->
{% endblock %}
