{% extends 'base.html.twig' %}


{% block body %}

<!-- ======= Hero Section ======= -->
  <section id="hero" class="hero d-flex align-items-center section-bg">
    <div class="container">
      <div class="row justify-content-between gy-5">
        <h1 class="mt-5">Conditions Générales d'Utilisation</h1>

        <h2 class="mt-4">1. Introduction</h2>
        <p>Bienvenue sur notre plateforme ! En utilisant nos services, vous acceptez les présentes Conditions Générales d'Utilisation. Veuillez les lire attentivement avant d'accéder ou d'utiliser notre site.</p>

        <h2 class="mt-4">2. Accès au Site</h2>
        <p>L'accès à notre site est autorisé de manière temporaire, et nous nous réservons le droit de retirer ou de modifier les services que nous proposons sans préavis. Nous ne serons pas responsables si pour une raison quelconque notre site est indisponible à un moment ou pour une période donnée.</p>

        <h2 class="mt-4">3. Votre Compte et Vos Informations</h2>
        <p>Si vous créez un compte sur notre site, vous êtes responsable de maintenir la confidentialité de votre compte et de vos informations de connexion, et vous acceptez de nous informer immédiatement de toute utilisation non autorisée de votre compte.</p>

        <h2 class="mt-4">4. Contenu Utilisateur</h2>
        <p>Vous êtes responsable du contenu que vous publiez sur notre site, y compris sa légalité, son exactitude et sa fiabilité. Nous nous réservons le droit de supprimer tout contenu qui ne respecte pas nos standards ou qui enfreint les lois applicables.</p>

        <h2 class="mt-4">5. Propriété Intellectuelle</h2>
        <p>Notre site et son contenu sont protégés par les lois sur la propriété intellectuelle et sont la propriété de notre entreprise ou de nos concédants de licence. Vous ne pouvez pas reproduire, distribuer, modifier ou republier notre contenu sans notre consentement écrit préalable.</p>

        <h2 class="mt-4">6. Limitation de Responsabilité</h2>
        <p>Dans les limites autorisées par la loi, nous ne serons pas responsables de tout dommage direct, indirect, accessoire, spécial, consécutif ou punitif, y compris, mais sans s'y limiter, les pertes de profits, de revenus, de données ou de réputation, découlant de votre utilisation ou de votre incapacité à utiliser notre site ou de tout contenu publié sur celui-ci.</p>

        <h2 class="mt-4">7. Modification des Conditions d'Utilisation</h2>
        <p>Nous nous réservons le droit de modifier ces Conditions Générales d'Utilisation à tout moment. Toute modification sera effective dès sa publication sur notre site. Nous vous encourageons à consulter régulièrement ces conditions pour rester informé de toute modification.</p>
      </div>
    </div>
  </section><!-- End Hero Section -->

{% endblock %}
