{% extends 'base.html.twig' %}


{% block body %}

<!-- ======= Hero Section ======= -->
  <section id="hero" class="hero d-flex align-items-center section-bg">
    <div class="container">
      <div class="accordion accordion-flush" id="accordionFlushExample">
        <div class="accordion-item mb-2">
          <h2 class="accordion-header">
            <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse" data-bs-target="#flush-collapseOne" aria-expanded="false" aria-controls="flush-collapseOne">
              <h5>Qu'est-ce que l'application de commande de foodtrucks pour la CCI ?</h5>
            </button>
          </h2>
          <div id="flush-collapseOne" class="accordion-collapse collapse" data-bs-parent="#accordionFlushExample">
            <div class="accordion-body"> L'application de commande de foodtrucks pour la CCI est une plateforme exclusive réservée aux membres de la Chambre de Commerce et d'Industrie (CCI) qui leur permet de commander des repas auprès des foodtrucks présents sur le parking de la CCI.</div>
          </div>
        </div>
        <div class="accordion-item mb-2">
          <h2 class="accordion-header">
            <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse" data-bs-target="#flush-collapseTwo" aria-expanded="false" aria-controls="flush-collapseTwo">
              <h5>Qui peut utiliser l'application ?</h5>
            </button>
          </h2>
          <div id="flush-collapseTwo" class="accordion-collapse collapse" data-bs-parent="#accordionFlushExample">
            <div class="accordion-body">L'application est accessible aux membres de la CCI, y compris les formateurs, les apprenants et les membres de l'administration.</div>
          </div>
        </div>
        <div class="accordion-item mb-2">
          <h2 class="accordion-header">
            <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse" data-bs-target="#flush-collapseThree" aria-expanded="false" aria-controls="flush-collapseThree">
               <h5>Comment puis-je accéder à l'application ?</h5>
            </button>
          </h2>
          <div id="flush-collapseThree" class="accordion-collapse collapse" data-bs-parent="#accordionFlushExample">
            <div class="accordion-body">Pour accéder à l'application, vous devez être membre de la CCI et vous connecter à votre compte à l'aide de vos identifiants CCI.</div>
          </div>
        </div>
        <div class="accordion-item mb-2">
          <h2 class="accordion-header">
            <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse" data-bs-target="#flush-collapseFour" aria-expanded="false" aria-controls="flush-collapseThree">
               <h5>Quels sont les avantages de l'application ?</h5>
            </button>
          </h2>
          <div id="flush-collapseFour" class="accordion-collapse collapse" data-bs-parent="#accordionFlushExample">
            <div class="accordion-body">L'application offre aux membres de la CCI une manière pratique de commander des repas variés auprès des foodtrucks disponibles sur le parking de la CCI, sans avoir à se déplacer ou à faire la queue.</div>
          </div>
        </div>
        <div class="accordion-item mb-2">
          <h2 class="accordion-header">
            <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse" data-bs-target="#flush-collapseFour" aria-expanded="false" aria-controls="flush-collapseThree">
               <h5>Puis-je passer ma commande à l'avance ?</h5>
            </button>
          </h2>
          <div id="flush-collapseFour" class="accordion-collapse collapse" data-bs-parent="#accordionFlushExample">
            <div class="accordion-body">Oui, vous pouvez annuler votre commande tant qu'elle n'a pas encore été préparée par le foodtruck. Consultez les détails de votre commande dans l'application pour plus d'informations sur les conditions d'annulation.</div>
          </div>
        </div>
      </div>
    </div>
  </section><!-- End Hero Section -->

{% endblock %}
