{% extends 'base.html.twig' %}

{% block title %}New FoodTruck{% endblock %}

{% block body %}
    <h1>Create new FoodTruck</h1>

    {{ include('food_truck/_form.html.twig') }}

    <a href="{{ path('app_food_truck_index') }}">back to list</a>
{% endblock %}
